@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: 220, 223, 218;  
  --lightest-green: 200, 214, 218;
  --light-green : 183, 206, 102;
  --apple-green : 143, 180, 58;
  --dark-grey : 75, 89, 67;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--light-green))
    )
    rgb(var(--apple-green));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  color: rgb(var());
}
